<section class="home-intro">

  <div class="swiper-container main-slider">
    <div class="swiper-wrapper">

      <div class="swiper-slide img-container"
        style="background-image: url(../../../assets/imgs/home/main-slider-1.jpg);">

        <div class="container-fluid">
          <h2>since 1980</h2>
          <div class="hr"></div>

          <div class="row">
            <div class="col-xl-5 col-md-8 col-10">
              <h6>
                Maxim Development has been committed to developing projects that serve different sectors of the real
                estate market. Whether it’s a waterfront home, a city home, an international 5 star hotel or a unique
                shopping experience, Maxim Development has been a key player in the market.
              </h6>
            </div>
          </div>

          <button class="my-primary-btn">Contact us</button>

          <ul>
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" id="fb" width="18" height="23" viewBox="0 0 14.439 27.841">
                  <defs>
                    <clipPath id="clip-path">
                      <path id="Rectangle_7" d="M0 0H14.439V27.841H0z" class="cls-1" />
                    </clipPath>
                    <style>
                      .cls-1 {
                        fill: #fff
                      }

                    </style>
                  </defs>
                  <g id="Group_4">
                    <g id="Group_3" clip-path="url(#clip-path)">
                      <path id="Path_47"
                        d="M446.618 846.541h-2.627c-2.058 0-2.458.979-2.458 2.416v3.165h4.911v4.961h-4.91v12.727h-5.122v-12.726h-4.282v-4.961h4.282v-3.657c0-4.244 2.592-6.556 6.38-6.556l3.827.006zm0 0"
                        class="cls-1" transform="translate(-432.129 -841.976)" />
                    </g>
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0"
                  viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                  <g>
                    <g xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z"
                        fill="#ffffff" data-original="#000000" />
                      <path
                        d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"
                        fill="#ffffff" data-original="#000000" />
                      <path
                        d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z"
                        fill="#ffffff" data-original="#000000" />
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" id="linkedin" width="22" height="22"
                  viewBox="0 0 28.555 28.506">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #fff
                      }

                    </style>
                  </defs>
                  <path id="Path_48" d="M496.4 844.589a3.431 3.431 0 1 0 3.43 3.429 3.431 3.431 0 0 0-3.43-3.429zm0 0"
                    class="cls-1" transform="translate(-492.969 -844.589)" />
                  <path id="Rectangle_8" d="M0 0H5.918V19.041H0z" class="cls-1" transform="translate(0.472 9.464)" />
                  <path id="Path_49"
                    d="M530.66 868.03a6.222 6.222 0 0 0-5.6 3.076h-.078v-2.6H519.3v19.041h5.914v-9.419c0-2.484.472-4.889 3.551-4.889 3.036 0 3.076 2.841 3.076 5.048v9.26h5.914V877.1c0-5.127-1.107-9.071-7.1-9.071zm0 0"
                    class="cls-1" transform="translate(-509.204 -859.039)" />
                </svg>
              </a>
            </li>
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" viewBox="0 0 35.829 25.08">
                  <path fill="#fff"
                    d="M35.036 7.084l.045.289a4.514 4.514 0 0 0-3.087-3.116l-.031-.007c-2.794-.75-14.034-.75-14.034-.75S6.718 3.485 3.9 4.249A4.517 4.517 0 0 0 .787 7.342l-.007.031A48.783 48.783 0 0 0 .826 25l-.046-.292a4.514 4.514 0 0 0 3.087 3.116l.031.007c2.79.751 14.033.751 14.033.751s11.21 0 14.033-.751a4.516 4.516 0 0 0 3.111-3.092l.007-.031a45.6 45.6 0 0 0 .746-8.333v-.326-.339a47.044 47.044 0 0 0-.793-8.625zM14.343 21.426V10.667l9.357 5.388z"
                    transform="translate(0 -3.5)" />
                </svg>
              </a>
            </li>
          </ul>

        </div>

      </div>
      <div class="swiper-slide img-container"
        style="background-image: url(../../../assets/imgs/home/main-slider-2.jpg);">

        <div class="container-fluid">
          <h2 class="title-2">maxim development</h2>
          <div class="hr hr-2"></div>

          <div class="row">
            <div class="col-xl-7 col-10">
              <h6 class="text-2">
                Maxim Development has been committed to developing projects that serve different sectors of the real
                estate market. Whether it’s a waterfront home, a city home, an international 5 star hotel or a unique
                shopping experience, Maxim Development has been a key player in the market.
              </h6>
            </div>
          </div>

          <ul>
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" id="fb" width="18" height="23" viewBox="0 0 14.439 27.841">
                  <defs>
                    <clipPath id="clip-path">
                      <path id="Rectangle_7" d="M0 0H14.439V27.841H0z" class="cls-1" />
                    </clipPath>
                    <style>
                      .cls-1 {
                        fill: #fff
                      }

                    </style>
                  </defs>
                  <g id="Group_4">
                    <g id="Group_3" clip-path="url(#clip-path)">
                      <path id="Path_47"
                        d="M446.618 846.541h-2.627c-2.058 0-2.458.979-2.458 2.416v3.165h4.911v4.961h-4.91v12.727h-5.122v-12.726h-4.282v-4.961h4.282v-3.657c0-4.244 2.592-6.556 6.38-6.556l3.827.006zm0 0"
                        class="cls-1" transform="translate(-432.129 -841.976)" />
                    </g>
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0"
                  viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                  <g>
                    <g xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z"
                        fill="#ffffff" data-original="#000000" />
                      <path
                        d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"
                        fill="#ffffff" data-original="#000000" />
                      <path
                        d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z"
                        fill="#ffffff" data-original="#000000" />
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                    <g xmlns="http://www.w3.org/2000/svg">
                    </g>
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" id="linkedin" width="22" height="22"
                  viewBox="0 0 28.555 28.506">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #fff
                      }

                    </style>
                  </defs>
                  <path id="Path_48" d="M496.4 844.589a3.431 3.431 0 1 0 3.43 3.429 3.431 3.431 0 0 0-3.43-3.429zm0 0"
                    class="cls-1" transform="translate(-492.969 -844.589)" />
                  <path id="Rectangle_8" d="M0 0H5.918V19.041H0z" class="cls-1" transform="translate(0.472 9.464)" />
                  <path id="Path_49"
                    d="M530.66 868.03a6.222 6.222 0 0 0-5.6 3.076h-.078v-2.6H519.3v19.041h5.914v-9.419c0-2.484.472-4.889 3.551-4.889 3.036 0 3.076 2.841 3.076 5.048v9.26h5.914V877.1c0-5.127-1.107-9.071-7.1-9.071zm0 0"
                    class="cls-1" transform="translate(-509.204 -859.039)" />
                </svg>
              </a>
            </li>
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" viewBox="0 0 35.829 25.08">
                  <path fill="#fff"
                    d="M35.036 7.084l.045.289a4.514 4.514 0 0 0-3.087-3.116l-.031-.007c-2.794-.75-14.034-.75-14.034-.75S6.718 3.485 3.9 4.249A4.517 4.517 0 0 0 .787 7.342l-.007.031A48.783 48.783 0 0 0 .826 25l-.046-.292a4.514 4.514 0 0 0 3.087 3.116l.031.007c2.79.751 14.033.751 14.033.751s11.21 0 14.033-.751a4.516 4.516 0 0 0 3.111-3.092l.007-.031a45.6 45.6 0 0 0 .746-8.333v-.326-.339a47.044 47.044 0 0 0-.793-8.625zM14.343 21.426V10.667l9.357 5.388z"
                    transform="translate(0 -3.5)" />
                </svg>
              </a>
            </li>
          </ul>

        </div>

      </div>
      <div class="swiper-slide">

        <div class="video-wrapper">
          <div class="video-overlay" style="background-image: url(../../../assets/imgs/home/main-slider-3.jpg);">
            <div class="thumbnailOverlay"></div>
            <button class="play-button" (click)="playVideo()">
              <img src="../../../assets/imgs/icons/play-button.svg" alt="play button"></button>
          </div>
          <video controls id="video" src="../../../assets/imgs/home/sample.mp4" type="video/mp4">
          </video>
        </div>
      </div>

    </div>
    <div class="swiper-button-next" (click)="resetVideo()">
      <img src="../../../assets/imgs/icons/arrow-right.svg" alt="arrow-right">
    </div>
    <div class="swiper-button-prev" (click)="resetVideo()">
      <img src="../../../assets/imgs/icons/arrow-left.svg" alt="arrow-left">
    </div>
  </div>

</section>

<section class="our-story">

  <div class="container-fluid padding-y">

    <div class="row justify-content-between">
      <div class="col-xl-5">
        <h6>about us</h6>
        <h3>our story</h3>
        <h6 class="story-pragraph">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </h6>
        <a>Know more
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="13" viewBox="0 0 28.775 24.664">
            <path fill="#062942"
              d="M21.692 6.6a2.055 2.055 0 0 0 0 2.906l6.766 6.768-21.4.014a2.055 2.055 0 0 0 0 4.111l21.4-.014-6.768 6.768a2.055 2.055 0 1 0 2.91 2.909l7.37-7.369a6.166 6.166 0 0 0 0-8.721L24.6 6.6a2.055 2.055 0 0 0-2.908 0z"
              transform="translate(-5 -6)" />
          </svg>
        </a>
      </div>

      <div class="col-xl-6 px-0">

        <div class="video-container">
          <div class="video-wrapper">
            <div class="our-story-video-overlay"
              style="background-image: url(../../../assets/imgs/home/our-story-thumbnail.jpg);">
              <button class="play-button" (click)="playOurStoryVideo()">
                <img src="../../../assets/imgs/icons/play-button.svg" alt="play button"></button>
            </div>
            <video controls id="our-story-video" src="../../../assets/imgs/home/sample.mp4" type="video/mp4">
            </video>
          </div>
        </div>

      </div>

    </div>
    <div class="experience">
      <img src="../../../assets/imgs/icons/41-icon.svg" alt="41 number">
      <div class="exp-text">
        <h5>in architechture designing</h5>
        <h4>years of experience</h4>
      </div>
    </div>
  </div>

</section>

<section class="our-developments">

  <div class="padding-y">

    <div class="container-fluid">
      <h6>portofolio</h6>
      <h3>our developments</h3>
    </div>

    <div class="gallery">
      <div class="row mx-0">

        <div class="col-xl-6 px-0">
          <div class="swiper-container devSwiper">
            <div class="swiper-wrapper">

              <ng-container *ngFor='let slide of [1, 2, 3]'>
                <div class="swiper-slide img-container"
                  style="background-image: url(../../../assets/imgs/home/coastal.jpg);">
                  <div class="container-fluid">
                    <h1>coastal</h1>
                    <div class="our-developments-text">
                      <span>bo islands</span>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>

            <div class="swiper-button-next">
              <img src="../../../assets/imgs/icons/white-arrow-right.svg" alt="white right arrow">
            </div>
            <div class="swiper-button-prev">
              <img src="../../../assets/imgs/icons/white-arrow-left.svg" alt="white left arrow">
            </div>

          </div>
        </div>

        <div class="col-xl-6 px-0">
          <div class="swiper-container devSwiper">
            <div class="swiper-wrapper">

              <ng-container *ngFor='let slide of [1, 2, 3]'>
                <div class="swiper-slide second-slides img-container"
                  style="background-image: url(../../../assets/imgs/home/urban.jpg);">
                  <div class="container-fluid">
                    <h1>urban</h1>
                    <div class="our-developments-text second-text">
                      <span>royal maxim kempinski</span>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>

            <div class="swiper-button-next">
              <img src="../../../assets/imgs/icons/white-arrow-right.svg" alt="white right arrow">
            </div>
            <div class="swiper-button-prev">
              <img src="../../../assets/imgs/icons/white-arrow-left.svg" alt="white left arrow">
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>


</section>

<section class="scores">
  <div class="img-container" style="background-image: url(../../../assets/imgs/home/scores.jpg);">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-3 col-6">
          <div class="score">
            <span>200</span>
            <h2>projects</h2>
          </div>
        </div>
        <div class="col-xl-3 col-6">
          <div class="score">
            <span>50</span>
            <h2>awards</h2>
          </div>
        </div>
        <div class="col-xl-3 col-6">
          <div class="score">
            <span>41</span>
            <h2>years</h2>
          </div>
        </div>
        <div class="col-xl-3 col-6">
          <div class="score">
            <span>100+</span>
            <h2>clients</h2>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="media-center">
  <div>
    <div class="container-fluid padding-y">
      <h6>latest news</h6>
      <h3>media center</h3>

      <div class="swiper-container mediaSwiper">
        <div class="swiper-wrapper">
          <ng-container *ngFor='let slide of [1, 2]'>
            <div class="swiper-slide">
              <div class="img-container" style="background-image: url(../../../assets/imgs/home/media-1.jpg);"></div>

              <div class="row justify-content-center">
                <div class="col-xl-11">
                  <div class="text">
                    <p>bo island.&nbsp;&nbsp;26-7-2021</p>
                    <h6>Own your beachfront home at bo Sidi Abdelrahman with 5% Down payment and 9 Years Installments.
                    </h6>
                  </div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">
              <div class="img-container" style="background-image: url(../../../assets/imgs/home/media-2.jpg);"></div>

              <div class="row justify-content-center">
                <div class="col-xl-11">
                  <div class="text">
                    <p>maxim residence.&nbsp;&nbsp;26-7-2021</p>
                    <h6>Own your beachfront home at bo Sidi Abdelrahman with 5% Down payment and 9 Years Installments.
                    </h6>
                  </div>
                </div>
              </div>

            </div>
          </ng-container>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </div>
</section>

<div class="contact-us">
  <div class="container-fluid padding-y">
    <div class="contact-us-container">

      <div class="row">
        <div class="col-xl-7">
          <img src="../../../assets/imgs/home/contact-us.png" alt="contact us photo">
        </div>
        <div class="col-xl-5">
          <div class="get-in-touch">
            <h6>drop us a line</h6>
            <h3>contact us</h3>

            <input class="form-control" type="text" placeholder="Please enter your name">
            <input class="form-control" type="email" placeholder="Please enter your email">
            <input class="form-control" type="text" placeholder="Subject">
            <textarea class="form-control" placeholder="Enter your message here" cols="30" rows="10"></textarea>

            <button class="my-primary-btn">submit</button>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
