<footer class="img-container" style="background-image: url(../../../../assets/imgs/footer/footer-cover.jpg);">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-2 col-md-6 col-6 column">
        <div class="logo">
          <img src="../../../../assets/imgs/footer/logo.png" alt="logo">
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-6 column">
        
        <h5>quick links</h5>
        <ul>
          <li><a [routerLink]="['']">home</a></li>
          <li><a>who are we</a></li>
          <li><a>our developments & projects</a></li>
          <li><a>resale</a></li>
          <li><a>media hub</a></li>
          <li><a>contact us</a></li>
        </ul>

      </div>
      <div class="col-xl-3 col-md-6 col-6 column" style="position: relative;">

        <div class="dev-lists">
          <h5 class="inclined-text">our developments</h5>

          <div class="upper-list">
            <h5>coastal</h5>
            <ul>
              <li><a>bo islands</a></li>
              <li><a>bo sands</a></li>
            </ul>
          </div>

          <div class="lower-list">
            <h5>residential</h5>
            <ul>
              <li><a>maximum residence</a></li>
              <li><a>maximum country club</a></li>
              <li><a>royal maxim</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-xl-3 col-md-6 col-6 column">

        <div class="upper-list">
          <h5>contact us</h5>
          <ul>
            <li>
              <a>
                <img src="../../../../assets/imgs/footer/call.svg" alt="telephone">
                19249
              </a>
            </li>
            <li>
              <a style="text-transform: none;">
                <img src="../../../../assets/imgs/footer/envelope.svg" alt="mail">
                info@maximig.com
              </a>
            </li>
            <li>
              <a>
                <img src="../../../../assets/imgs/footer/pin.svg" alt="location">
                147 Al Moltaqa El Araby, Sheraton,
                Cairo, Egypt
              </a>
            </li>
          </ul>
        </div>

        <div class="lower-list social-media">
          <h5>follow us</h5>
          <ul class="d-flex align-items">
            <li>
              <a>
                <img src="../../../../assets/imgs/footer/fb.svg" alt="facebook-icon">
              </a>
            </li>
            <li>
              <a>
                <img src="../../../../assets/imgs/footer/instagram.svg" alt="instagram-icon">
              </a>
            </li>
            <li>
              <a>
                <img src="../../../../assets/imgs/footer/linkedin.svg" alt="linkedin">
              </a>
            </li>
            <li>
              <a>
                <img src="../../../../assets/imgs/footer/youtube.svg" alt="youtube">
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</footer>
